name: Build and deploy
on:
  push:
    branches:
      - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              run: npm install
            - name: Build
              run: npm run build
            - name: Deploy to SFTP
              uses: SamKirkland/FTP-Deploy-Action@v4.3.4
              with:
                server: 91.107.223.117
                username: root
                password: ${{ secrets.SFTP_KEY }}
                local-dir: ./dist/
                server-dir: /root/notes/